div.container
{
width:760px;
margin:0px auto;
border:1px solid gray;
line-height:110%;
}

div.header
{
padding:0em;
height:115px;
color:white;
clear:both;
}

div.footer
{
color:black;
clear:both;
/*background-color:gray;*/
}

div.content
{
padding:1em;
overflow: auto;
}

h1.header
{
padding:0;
margin:0;
}

h2.content
{
text-align: center;
color: black;
font-family: arial
}

p
{
font:12px arial
}

.center
{
text-align: center
}

table.ticketStats
{
border: 0px #000000 solid;
border-collapse: collapse;
border-spacing: 0px;
}

td.statHeading
{
font-family: Arial;
font-weight: bold;
font-size: 14px;
}

td.statData
{
/*text-align: center;*/
font-family: Arial;
font-size: 12px;
}

#dhtmltooltip
{
position: absolute;
width: 150px;
border: 2px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
</style>